@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(248 250 252);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.video-container {
  width: 100%; /* Ensure the container spans the full width of its parent */
  height: 500px;
}

.video-container .embed-responsive {
  width: 100%; /* Ensure the embed-responsive div stretches to the full width */
  height: 100%;
}

.video-container .embed-responsive .embed-responsive-item {
  width: 100%; /* Ensure the embedded item (like iframe or video) stretches to the full width */
  height: 100%;
}
