@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-color: rgb(248 250 252); */
  background-color: #F2F5F9;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.video-container {
  width: 100%;
  /* Ensure the container spans the full width of its parent */
  height: 500px;
}

.video-container .embed-responsive {
  width: 100%;
  /* Ensure the embed-responsive div stretches to the full width */
  height: 100%;
}

.video-container .embed-responsive .embed-responsive-item {
  width: 100%;
  /* Ensure the embedded item (like iframe or video) stretches to the full width */
  height: 100%;
}

ul.fancy-list {
  list-style: none;
  padding-left: 0;
}

ul.fancy-list li {
  position: relative;
  padding-left: 50px;
  margin-bottom: 20px;
  font-size: 0.8em;
  font-weight: bold;
  /* color: #fff; */
  /* background: linear-gradient(135deg, #000000,  #918981);  */
  color: black;
  background: linear-gradient(135deg, #ffffff, #ffffff);
  /* Black to White Gradient */
  padding: 15px 20px;
  border-radius: 10px;
  transition: transform 0.3s, box-shadow .3s;
  cursor: pointer;
}

/* Hover effect for list items */
ul.fancy-list li:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

/* Custom bullet points with Font Awesome */


/* Hover effect for bullet icons */
ul.fancy-list li:hover::before {
  color: #fff;
}

.sidebar {
    position: relative;
}

.sidebar-nav {
    overflow-y: auto; /* Enable vertical scrolling */
}

.subheadingtitle {
  color: gray
  
}

.overflow {
  overflow-y: scroll;
}

.overflow {
  display: none
}

.overflow {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


